.col-sm-4 {
  color: red;
}
.form-group {
  text-align: center;
  display: flex;
  flex-direction: column;
}
/* .input {
  margin-left: 55px;
  padding-left: 55px;
} */
.yanaKay {
  padding-left: 18px;
}
